.container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.h1 {
  text-align: center;
  margin-bottom: 20px;
}

.topActions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.searchInput {
  padding: 8px;
  width: 60%;
  font-size: 16px;
}

.addButton {
  background-color: #0070f3;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.addButton:hover {
  background-color: #005bb5;
}

.addForm {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.addForm input {
  padding: 8px;
  font-size: 16px;
}

.addForm button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.addForm button:hover {
  background-color: #1e7e34;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
}

.statusAvailable {
  color: rgb(0, 176, 18);
  padding: 6px 12px;
  border-radius: 4px;
}

.statusBorrowed {
  color: rgb(220, 21, 21);
  padding: 6px 12px;
  border-radius: 4px;
}

.borrowButton {
  background-color: green;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-right: 4px;
  cursor: pointer;
}

.returnButton {
  background-color: rgb(215, 62, 62);
  color: white;
  border: none;
  padding: 6px 12px;
  margin-right: 4px;
  cursor: pointer;
}

.editButton {
  background-color: #f5d163;
  color: rgb(24, 11, 11);
  border: none;
  padding: 6px 12px;
  margin-right: 4px;
  cursor: pointer;
}

.deleteButton {
  background-color: #de1529;
  color: rgb(255, 255, 255);
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.saveButton {
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}